# ASSIGNMENT

<h3> 1 : Declare and initialize a variable name total_marks with a value 500</h3>

In [13]:
Total_Marks=500
print("Total Marks:",Total_Marks)

Total Marks: 500

<h3> 2 : Declare and initialize 5 variables name maths , english , urdu , physics and chemisrty with different integer values</h3>

In [11]:
Maths=98
English=76
Urdu=81
Physics=92
Chemistry=65
print("subject(s)\t Marks (100)")
print("Maths\t\t",Maths)
print("English\t\t",English)
print("Urdu\t\t",Urdu)
print("Physics\t\t",Physics)
print("Chemistry\t",Chemistry)

subject(s)	 Marks (100)
Maths		 98
English		 76
Urdu		 81
Physics		 92
Chemistry	 65

3: Calculate the obtained marks And assign the value In variable name obtained_marks

In [1]:
Marks_Obtained=(98+76+81+92+65)
print("Total Marks: 500")    
print("Marks_Obtained:",Marks_Obtained)

Total Marks: 500
Marks_Obtained: 412

<h3>4 : Calculate percentage and assign the value in variable name percentage</h3>

In [16]:
Percentage=(Marks_Obtained/500)*100
print("Percentage:",Percentage,'%')

Percentage: 82.39999999999999 %

<h3>5 : Declare and initialize an empty variable name grade </h3>

In [ ]:
Grade=None

### 6: print your biodata

In [20]:
print("NAME: Osama Nisar")
print("FATHER NAME: Nisar Ahmed")
print("DATE OF BIRTH: 4th oct")
print("RELIGION: Islam")
print("NATIONALITY: Pakistani")

NAME: Osama Nisar
FATHER NAME: Nisar Ahmed
DATE OF BIRTH: 4th oct
RELIGION: Islam
NATIONALITY: Pakistani